<html>
  <head>
    <title>Live Auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">   
        <!-- IE required polyfills, in this exact order -->
        <!-- Polyfill(s) for older browsers -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
        <script src="scripts/es6-shim/es6-shim.min.js"></script>
        <script src="scripts/zone.js/dist/zone.min.js"></script>
        <script src="scripts/reflect-metadata/Reflect.js"></script>
        <script src="scripts/systemjs/dist/system.js"></script>
        <script src="scripts/jquery/dist/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script src="systemjs.config.js"></script>
        <script>
          System.import('app').catch(function(err) {
            console.error(err);
          });
        </script>
  </head>
  <body>
    <chat>Loading...</chat>
  </body>
</html>
